body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color:#ffff;
    font-size:12pt;
}
.container {
    margin:0 15%;
}
p,h1,h2 {
    padding:0px 10px 0px 0px;
}
.test-h3 {
    background: rgb(20,114,133);
    background: linear-gradient(90deg, rgba(20,114,133,1) 0%, rgba(108,108,108,1) 100%);
    color:#ffff;
    padding:5px 5px;
    font-weight: normal;
}
img {
    width:100%;
}
.no-style-list {
    list-style: none;
}
.arrow {
    padding:0;
    text-align: left;
}
#section-header-tech h2 {
    margin-bottom:0;
    background: rgb(20,114,133);
    background: linear-gradient(90deg, rgba(20,114,133,1) 0%, rgba(108,108,108,1) 100%);
    color:#ffff;
    text-align: center;
    padding:10px 0;
}
#section-header-tech h3 {
    margin-top:0;
}
#postheader2 p {
    padding: 0px 20px;
}
.banner {
    margin:25px 0%;
}
#footer .banner {
    margin:0;
}
#top {
    display:grid;
    grid-column-gap: 15px;
    grid-template-areas:
    "logo logo logo . . . . . . . . ."
    "logo logo logo . nav nav nav nav nav nav nav nav";
}

#top-left {
    grid-area: logo;
}
#top-left img {
    height:100px;
    object-fit: cover;
}
#top-nav {
    grid-area: nav;
}
#top-nav ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding:0;
    justify-items: center;
}
#top-nav ul li {
   list-style-type:none;
}
#top-nav ul li a {
   text-decoration:none;
   color: #147285;
 }
#header-banner {
    background: rgb(20,114,133);
    background: linear-gradient(90deg, rgba(20,114,133,1) 0%, rgba(108,108,108,1) 100%);
    text-align: center;
    color: #ffff;
    padding:5px 0;
}
#postheader {
    display:grid;
    grid-column-gap: 15px;
    grid-template-areas:
    "left right right"
}
#postheader-left {
    grid-area: left;
}
#postheader-right {
    grid-area: right;
}
#postheader-right img {
    width:100%;
    /* height:100%; */
}
#postheader-tech-items {
    display:grid;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}
#postheader2-left img {
    width: 100%;
    height:100%;
    object-fit: cover;
}
#postheader2 {
    display:grid;
    grid-template-areas:
    "image image about";
}
#postheader2-left {
    grid-area: image;
}
#postheader2-right {
    grid-area: about;
    background-color: #147285;
    color:#ffff;
}
#postheader2-tech {
    display:grid;
    grid-template-columns: 6fr 1fr 6fr;
}
#postheader2-tech-middle {
    text-align:center;
}
#postheader3-styles-available {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}
#test1,#test2,#test3 {
    display:grid;
    grid-column-gap: 15px;
    margin-top:15px;
    margin-bottom:15px;
    grid-template-areas:
    "left middle"
    "left right";
    grid-template-columns: 1fr 1fr;
}
#test1-left,#test2-left,#test3-left {
    grid-area: left;
}
#test1-middle,#test2-middle,#test3-middle {
    grid-area: middle;
}
#test1-right,#test2-right,#test3-right {
    grid-area: right;
}
#test1 img,#test2 img,#test3 img{
    width:100%;
    height:100%;
}
#test2 img {
    object-fit: cover;
}
#footer {
    background: rgb(20,114,133);
    background: linear-gradient(90deg, rgba(20,114,133,1) 0%, rgba(108,108,108,1) 100%);
    color:#ffff;
    margin-bottom:0;
    height:92px;
}
#footer .container{
  display:grid;
  grid-column-gap: 15px;
  grid-template-columns: 3fr 3fr 6fr;
}
/* Landscape phones and down */
@media (max-width: 480px) { 
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .container {
        margin:0;
    }
    #postheader {
        grid-row-gap: 15px;
        grid-template-areas:
        "left left"
        "right right";
    }
    #postheader2 {
        grid-template-areas:
        "about about"
        "image image";
    }
    #test1,#test2,#test3 {
        display:grid;
        grid-template-columns: 1fr;
        grid-column-gap: 15px;
        margin-top:15px;
        margin-bottom:15px;
        grid-template-areas: 
        "left"
        "middle"
        "right";
    }
    #postheader-tech-items {
        display:grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    #postheader3-styles-available {
        display:grid;
        grid-template-columns: 1fr;
    } 
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .container {
        margin:0 5%;  
      }
}

/* Large desktop */
@media (min-width: 1200px) { 


}