<div id='top' class='container header'>
        <div id='top-left'>
            <a href="home.html"><img src="images/Computer-Internet-Logo-4.png" title="" alt="Logo"></a>
        </div>
        <nav id="top-nav" class="menu">
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label> 
            <ul class='menu'>
                <li><a href="home.html#postheader2-right">About</a></li>
                <li><a href="technology.html">Technology</a></li>
                <li><a href="testing.html">Testing</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>